@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "./styles/theme.css";


body {
  font-family: var(--font-body);
  background: var(--color-background);
  color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}